@import '@/styles/variables.scss';

h1,
h2, 
h3,
h4 {
    font-family: 'Vollkorn', serif;
}

// UTILITIES 

.h700 {
    height: 700px;
}

.h500 {
    height: 500px;
}

.site-lg-container  {
    width: 90%;
    margin: 0 auto;
    padding: 0 .5rem;
}

.pointed::after {
content: '.';
color: $orange;
}

.slider-btn {
    border: none;
    background: none;
    font-size: 2rem;
}


.site-btn {
    display: flex;
    align-items: center;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    div {
        display: flex;
        align-content: center;
    }
    .btn-txt {
        border-right: 2px solid currentColor;
        padding: 8px 30px;
        margin-right: 10px;
    }
    .btn-arrow {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        // vertical-align: middle;
        height: 100%;
    }
}

.site-btn-prim {
    background: $white;
}

.site-btn-orange {
    background: $orange;
    color: $white;
}

.subtitle {
    color: $subtitle;
}