// COLORS

$white: #FFFFFF;
$bg-sec: #FFFFFF33;
$bg-sec-alt: #FFFFFF26;
$bg-grey: #E1E1E1;
$white-alt: #F9F9F9;
$lightgrey: #E1E1E1;
$orange: #FF4612;
$fucsia: #EF2853;
$fucsia-alt: #EE2852;
$black-alt: #1E1E1E;
$subtitle: #A6A6A6;
